GATEKEEPER_SECRET=
JAYS_NETWORK_LICENSE_KEY=
STATIC_HWID=
SMARTSHEET_ACCESS_TOKEN=
TELEGRAM_BOT_TOKEN=
LOG_BOT_TOKEN=
RISK_LOG_ID=
ADARS_LOG_ID=
TELEGRAM_BORDER_CROSSING_OVERDUE_ID=
TELEGRAM_CHAT_ID=
FINANCE_LOG_ID=
ADMIN_ID=
ADMIN_TELEGRAM_ID=
TELEGRAM_ADMIN_CHAT_ID=
WIALON_TOKEN=
LOCATOR_STATIC_TOKEN=
Project_URL=
Publishable_API_Key=
ADARS_WORKSPACES=
WORLDRISK_WORKSPACES=
ANALYTICS_WORKSPACE_ID=
STATS_SHEET_ID=
WorldRisk_Tracking_Sheets=
MAIN_WORKSPACE_ID=3802012660852612
INVOICING_WORKSPACE_ID=1702905712535428
CONTRACTOR_WORKSPACE_ID=784561375340420
ARCHIVE_FOLDER_ID=5661870980917124
PAYMENTS_SHEET_ID=3279257494415236
GREEN_API_TOKEN=
GREEN_API_INSTANCE_ID=
DB_DIRECT_HOST=localhost
DB_DIRECT_PORT=5432
DB_DIRECT_NAME=jaysnet_data
DB_DIRECT_USER=jaysnet_admin
DB_DIRECT_PASSWORD=
FRONTEND_DB_USER=frontend_reader
FRONTEND_DB_PASSWORD=
